body {
}

.contents_wrap {
    width: 95%;
    margin: 0 auto;
    margin-top: 40px;
    overflow: auto;
}

.contents_Title_wrap {
    display: inline;
}

.contents_Title {
    background: rgb(237,237,237);
    text-align: center;
    font-size: 20px;
    padding: 10px 20px
}

.contents_filter_top {
    display: inline;
    text-align: right;
    float: right;
}


.doctor_search_table_filter {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

    .doctor_search_table_filter select {
        margin-right: 20px;
    }

        .doctor_search_table_filter select:last-child {
            margin-right: 0px;
        }

.doctor_search_table {
    width: 100%;
}

.doctor_search_general, .doctor_search_medicine, .doctor_search_lab, .doctor_search_scaling, .doctor_search_panorama {
    display: inline;
    width: 160px;
}


.doctor_search_date {
    display: inline;
    width: 170px;
}

.doctors_search_depart {
    width: 85px;
    display: inline;
}

.doctors_search_doctor {
    width: 85px;
    display: inline;
}

.form-control {
    font-size: 12px;
    padding: 3px 12px;
}

.doctor_profit_control {
    display: inline;
    width: 50px;
}

.doctors_table_profit tr td {
    text-align: right;
}

.payment_table_result > tr {
    height: 4vh;
}


.payment_table_result tr td:last-child {
    text-align: right;
}